body{
    background-color: #fcfcfc;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

#filedrag
{
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#cbra-form-body{
    width: 94%;
    max-width: 400px;
    display: block;
    padding: 0;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    margin: 55px auto;
}

.form-header{
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    display: block;
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    font-size: 12pt;
    box-sizing: border-box;
    padding: 20px 0;
    background-color: #0089e5;
    color: #FFF;
}

.cbra-form{
    box-sizing: border-box;
    padding: 10px 25px;
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.form-group-header{
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    padding: 0 0 5px 0;
    margin: 10px auto 20px auto;
    display: block;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 12pt;
    text-transform: uppercase;
    color: #3d4360;
    font-weight: bolder;
}

.cbra-form label{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 9pt;
    font-weight: bolder;
    margin: 0 0 3px 0;
    padding: 0;
    letter-spacing: 0.5px;
    color: rgba(0,0,30,0.35);
}

.cbra-form input{
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    padding: 17px 5px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    margin: 0 0 12px 0;
    transition: 0.15s;
}
.cbra-form input:hover{
    background-color: #fcfcfc;
    transition: 0.15s;
}
.cbra-form input:focus{
    background-color: #fcfcfc;
    transition: 0.15s;
    outline: none;
    border: 1px solid #0089e5;
}
.ng-valid[required] {
  border-left: 5px solid #a94442 !important; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442 !important; /* red */
}


.nav-ctrl-btn{
    border: 2px solid #0071BC;
    background-color: #0089e5;
    color: #FFF;
    font-weight: 400;
    box-sizing: border-box;
    padding: 8px 20px;
    margin: 5% auto;
    display: inline-block;
    font-size: 8pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.15s;
}
.nav-ctrl-btn-second{
    float: right;
}
.nav-ctrl-btn:hover{
    cursor: pointer;
    background-color: #0071BC;
    border: 2px solid #205493;
    transition: 0.15s;
    color: #FFF;
}


.ctrl-btn-submit{
    border: 2px solid #212434;
    background-color: #2D3146;
    color: #FFF;
    font-weight: 600 !important;
    box-sizing: border-box;
    padding: 8px 20px;
    font-size: 8pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    transition: 0.15s;
    margin: 0 0 15px 0;
}
.ctrl-btn-submit:hover{
    border: 2px solid #212434;
    background-color: #212434;
    transition: 0.15s;
    color: #FFF;
}
.ctrl-btn-submit:disabled{
    background-color: #e2e2e2;
    border: 2px solid #d3d3d3;
    font: bolder !important;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}
