<div [hidden]="!notready" align="center"><img [src]="'loading.gif'" /></div>
<div [hidden]="notready">
    <h1 class="form-header">CBRA Determination Request</h1>
    <div>

        <div [hidden]="hideWelcome">

            <div class="cbra-form">

                <h2 class="form-group-header">Welcome</h2>

                <p>Would you like to make a new Determination Request, or check the Status of an existing Determination?</p>

                <button type="button" (click)="showCaseForm()" class="btn btn-default nav-ctrl-btn">New Request</button>
                <button type="button" (click)="showStatusLookup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Check Status</button>

            </div>

        </div>

        <div [hidden]="hideStatusLookup">

            <div class="cbra-form">

                <h2 class="form-group-header">Status Lookup</h2>

                <label for="case_id">Case ID</label>
                <input type="text" id="case_id" class="form-control" #caseID>

                <button type="button" (click)="getCaseStatus(caseID.value)" class="btn btn-default ctrl-btn-submit">Submit</button>

            </div>

        </div>

        <div [hidden]="hideCaseForm">

            <form [ngFormModel]="caseForm" (ngSubmit)="onSubmit(caseForm.value)" class="cbra-form">

                <div [hidden]="hidePropertyGroup" ngControlGroup="propertygroup">

                    <h2 class="form-group-header">Property Information</h2>

                    <label>Street</label>
                    <input type="text" class="form-control" ngControl="street">

                    <label>Unit</label>
                    <input type="text" class="form-control" ngControl="unit">

                    <label>City</label>
                    <input type="text" class="form-control" ngControl="city">

                    <label>State</label>
                    <input type="text" class="form-control" ngControl="state">

                    <label>Zipcode</label>
                    <input type="text" class="form-control" ngControl="zipcode">

                    <label>Subdivision</label>
                    <input type="text" class="form-control" ngControl="subdivision">

                    <label>Policy Number</label>
                    <input type="text" class="form-control" ngControl="policy_number">

                    <button type="button" (click)="showRequesterGroup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Next</button>

                </div>

                <div [hidden]="hideRequesterGroup" ngControlGroup="requestergroup">

                    <h2 class="form-group-header">Requester Information</h2>

                    <label>Salutation</label>
                    <input type="text" class="form-control" ngControl="salutation">

                    <label>First Name</label>
                    <input type="text" class="form-control" ngControl="first_name">

                    <label>Last Name</label>
                    <input type="text" class="form-control" ngControl="last_name">

                    <label>Organization</label>
                    <input type="text" class="form-control" ngControl="organization">

                    <label>Email</label>
                    <input type="text" class="form-control" ngControl="email">

                    <label>Street</label>
                    <input type="text" class="form-control" ngControl="street">

                    <label>Unit</label>
                    <input type="text" class="form-control" ngControl="unit">

                    <label>City</label>
                    <input type="text" class="form-control" ngControl="city">

                    <label>State</label>
                    <input type="text" class="form-control" ngControl="state">

                    <label>Zipcode</label>
                    <input type="text" class="form-control" ngControl="zipcode">

                    <button type="button" (click)="showPropertyGroup()" class="btn btn-default nav-ctrl-btn">Back</button>
                    <button type="button" (click)="showCasefileGroup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Next</button>

                </div>

                <div [hidden]="hideCasefileGroup" ngControlGroup="casefilegroup">

                    <h2 class="form-group-header">Files</h2>

                    <label>Files to Upload</label>
                    <div class="form-group">
                        <div id="casefilesToUpload">
                            <p *ngFor="#fileDetails of filesToUploadDetails; #i=index"><span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }} MBs</span><button type="button" (click)="removeCasefile(i)">-</button></p>
                        </div>
                        <input id="fileselect" type="file" class="fileinput" multiple (change)="fileSelectHandler($event)" ngControl="casefiles" />
                            <!--<div id="filedrag" [hidden]="noxhr" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="fileSelectHandler($event)">or drop files here</div>-->
                    </div>

                    <!--<input type="file" multiple (change)="fileChangeEvent($event)" ngControl="files" />-->

                    <button type="button" (click)="showRequesterGroup()" class="btn btn-default nav-ctrl-btn">Back</button>

                </div>

                <input id="test" type="text" name="test" size="25" value="" />

                <button type="submit" class="btn btn-default ctrl-btn-submit" [disabled]="!caseForm.valid">Submit</button>

            </form>

        </div>

        <div [hidden]="hideSummary">

            <div class="cbra-form">

                <h2 class="form-group-header">Case Summary</h2>

                <p *ngIf="requestcase.case_hash"><b>Case ID:</b> {{ requestcase.case_hash }}</p>
                <p *ngIf="requestcase.request_date"><b>Reqest Date:</b> {{ requestcase.request_date }}</p>
                <p *ngIf="requestcase.status"><b>Status:</b> {{ requestcase.status }}</p>
                <p *ngIf="requestproperty.id"><b>Property:</b> {{ requestproperty.street }}, {{ requestproperty.city }}</p>
                <p *ngIf="requestrequester.id"><b>Requester:</b> {{ requestrequester.first_name }}, {{ requestrequester.last_name }}</p>

                <button type="button" (click)="showWelcome()" class="btn btn-default nav-ctrl-btn">Home</button>

            </div>

        </div>

    </div>
</div>