<div [hidden]="!notready" align="center"><img [src]="'loading.gif'" /></div>
<div [hidden]="notready">
    <h1 class="form-header">CBRA Determination Request</h1>
    <div>

        <div [hidden]="hideForm">

            <form [ngFormModel]="form" (ngSubmit)="onSubmit(form.value)" class="cbra-form">

                <div [hidden]="hidePropertyGroup" ngControlGroup="propertygroup">

                    <h2 class="form-group-header">Property Information</h2>

                    <label>Street</label>
                    <input type="text" ngControl="street">

                    <label>Unit</label>
                    <input type="text" ngControl="unit">

                    <label>City</label>
                    <input type="text" ngControl="city">

                    <label>State</label>
                    <input type="text" ngControl="state">

                    <label>Zipcode</label>
                    <input type="text" ngControl="zipcode">

                    <label>Subdivision</label>
                    <input type="text" ngControl="subdivision">

                    <label>Policy Number</label>
                    <input type="text" ngControl="policy_number">

                    <button type="button" (click)="showRequesterGroup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Next</button>

                </div>

                <div [hidden]="hideRequesterGroup" ngControlGroup="requestergroup">

                    <h2 class="form-group-header">Requester Information</h2>

                    <label>Salutation</label>
                    <input type="text" ngControl="salutation">

                    <label>First Name</label>
                    <input type="text" ngControl="first_name">

                    <label>Last Name</label>
                    <input type="text" ngControl="last_name">

                    <label>Organization</label>
                    <input type="text" ngControl="organization">

                    <label>Email</label>
                    <input type="text" ngControl="email">

                    <label>Street</label>
                    <input type="text" ngControl="street">

                    <label>Unit</label>
                    <input type="text" ngControl="unit">

                    <label>City</label>
                    <input type="text" ngControl="city">

                    <label>State</label>
                    <input type="text" ngControl="state">

                    <label>Zipcode</label>
                    <input type="text" ngControl="zipcode">

                    <button type="button" (click)="showPropertyGroup()" class="btn btn-default nav-ctrl-btn">Back</button>
                    <button type="button" (click)="showCasefileGroup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Next</button>

                </div>

                <div [hidden]="hideCasefileGroup" ngControlGroup="casefilegroup">

                    <h2 class="form-group-header">Files</h2>

                    <label>Files to Upload</label>
                    <div class="form-group">
                        <div id="casefilesToUpload">
                            <p *ngFor="#fileDetails of filesToUploadDetails; #i=index"><span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }} MBs</span><button type="button" (click)="removeCasefile(i)">-</button></p>
                        </div>
                        <input id="fileselect" type="file" multiple (change)="fileSelectHandler($event)" ngControl="casefiles" />
                            <!--<div id="filedrag" [hidden]="noxhr" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="fileSelectHandler($event)">or drop files here</div>-->
                    </div>

                    <!--<input type="file" multiple (change)="fileChangeEvent($event)" ngControl="files" />-->

                    <button type="button" (click)="showRequesterGroup()" class="btn btn-default nav-ctrl-btn">Back</button>

                </div>

                <button type="submit" class="btn btn-default ctrl-btn-submit" [disabled]="!form.valid">Submit</button>

            </form>

        </div>

        <div [hidden]="hideSummary">

            <h2 class="form-group-header">Summary</h2>

            <p *ngIf="requestcase.id">Case ID: {{ requestcase.id }}</p>
            <p *ngIf="requestproperty.id">Property: {{ requestproperty.street }}, {{ requestproperty.city }}</p>
            <p *ngIf="requestrequester.id">Requester: {{ requestrequester.first_name }}, {{ requestrequester.last_name }}</p>

        </div>

    </div>
</div>
