<div [hidden]="!notready" align="center"><span class="loading-message">Submitting...<br><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></span></div>
<div [hidden]="notready">
    <h1 class="form-header">CBRA Determination Request</h1>
    <div>

        <div [hidden]="hideWelcome">

            <div class="cbra-form">

                <h2 class="form-group-header">Welcome</h2>

                <p>Would you like to make a new Determination Request, or check the Status of an existing Determination?</p>

                <button type="button" (click)="showCaseForm()" class="btn btn-default nav-ctrl-btn">New Request</button>
                <button type="button" (click)="showStatusLookup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Check Status</button>

            </div>

        </div>

        <div [hidden]="hideStatusLookup">

            <div class="cbra-form">

                <h2 class="form-group-header">Status Lookup</h2>

                <label for="case_id">Case ID</label>
                <input type="text" id="case_id" class="form-control" #caseID>

                <button type="button" (click)="getCaseStatus(caseID.value)" class="btn btn-default ctrl-btn-submit">Submit</button>

            </div>

        </div>

        <div [hidden]="hideCaseForm">

            <form [formGroup]="caseForm" *ngIf="active" (ngSubmit)="onSubmit(caseForm.value)" class="cbra-form">

                <div [hidden]="hidePropertyGroup" formGroupName="propertygroup">

                    <h2 class="form-group-header">Property Information</h2>

                    <label>Street</label>
                    <input type="text" formControlName="street">

                    <label>Unit</label>
                    <input type="text" formControlName="unit">

                    <label>City</label>
                    <input type="text" formControlName="city">

                    <label for="pstate">State</label>
                    <select id="pstate" formControlName="state" (change)="updatePStateControlValue($event)">
                        <option value=""></option>
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                    <br />

                    <label>Zipcode</label>
                    <input type="text" formControlName="zipcode">

                    <label>Legal Description</label>
                    <input type="text" formControlName="legal_description">

                    <label>Subdivision</label>
                    <input type="text" formControlName="subdivision">

                    <label>Policy Number</label>
                    <input type="text" formControlName="policy_number">

                    <button type="button" (click)="showRequesterGroup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Next</button>

                </div>

                <div [hidden]="hideRequesterGroup" formGroupName="requestergroup">

                    <h2 class="form-group-header">Requester Information</h2>

                    <!-- <button type="button" (click)="fillNFIP()" class="btn btn-default nav-ctrl-btn">NFIP</button> -->

                    <label for="salutation">Salutation</label>
                    <select id="salutation" formControlName="salutation" (change)="updateSalutationControlValue($event)">
                        <option value=""></option>
                        <option *ngFor="let salutation of salutations" [value]="salutation">{{salutation}}</option>
                    </select>
                    <br />

                    <label>First Name</label>
                    <input type="text" formControlName="first_name">

                    <label>Last Name</label>
                    <input type="text" formControlName="last_name">

                    <label>Organization</label>
                    <input type="text" formControlName="organization">

                    <label>Email</label>
                    <input type="text" formControlName="email">

                    <label>Street</label>
                    <input type="text" formControlName="street">

                    <label>Unit</label>
                    <input type="text" formControlName="unit">

                    <label>City</label>
                    <input type="text" formControlName="city">

                    <label for="rstate">State</label>
                    <select id="rstate" formControlName="state" (change)="updateRStateControlValue($event)">
                        <option value=""></option>
                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
                    <br />

                    <label>Zipcode</label>
                    <input type="text" formControlName="zipcode">

                    <button type="button" (click)="showPropertyGroup()" class="btn btn-default nav-ctrl-btn">Back</button>
                    <button type="button" (click)="showCasefileGroup()" class="btn btn-default nav-ctrl-btn nav-ctrl-btn-second">Next</button>

                </div>

                <div [hidden]="hideCasefileGroup" formGroupName="casefilegroup">

                    <h2 class="form-group-header">Files</h2>

                    <div [hidden]="!filesSelectNotComplete" align="center"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                    <div [hidden]="filesSelectNotComplete">
                        <label>Files to Upload</label>
                        <div class="form-group">
                            <div id="casefilesToUpload">
                                <p *ngFor="let fileDetails of filesToUploadDetails; let i=index"><span>{{ fileDetails.name }}: </span><span>{{ fileDetails.size }} MBs</span><span> ({{ fileDetails.type }})</span><button type="button" (click)="removeCasefile(i)">-</button></p>
                            </div>
                            <p [hidden]="!fileTypeInvalid"><strong>A file you selected ({{ invalidFile }}) has an invalid file type ({{ invalidType }}). Please only attempt to select files of the following types:\n
                            .txt .pdf .doc .docx .jpeg .png .gif .tiff .bmp .zip .bz .bz2</strong></p>
                            <p [hidden]="!fileSizeInvalid"><strong>A file you selected ({{ invalidFile }}) is too large ({{ invalidSize }}) to upload. Please only attempt to select files that are smaller than 2.5 MBs</strong></p>
                            <input id="fileselect" type="file" class="fileinput" multiple (change)="fileSelectHandler($event)" formControlName="casefiles" />
                                <!--<div id="filedrag" [hidden]="noxhr" (dragover)="fileDragHover($event)" (dragleave)="fileDragHover($event)" (drop)="fileSelectHandler($event)">or drop files here</div>-->
                        </div>
                    </div>

                    <!--<input type="file" multiple (change)="fileChangeEvent($event)" formControlName="files" />-->

                    <p><strong>WARNING:</strong> This is a U.S. Fish & Wildlife Service system, which may be accessed and used only for official Government business. Inappropriate use of this system may subject violators to criminal and/or civil action.</p>
                    <p>All information on this system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel for official purposes, including criminal investigations. Access or use of this system by any person constitutes consent to these terms.</p>
                    <p>The seals, initials, and agency identification can not be used without the written permission of the agency.</p>
                    <p><img src="https://www.fws.gov/home/graphics/logo2005.gif" alt="Official Web page of the U S Fish and Wildlife Service" border="0"></p>

                    <button type="button" (click)="showRequesterGroup()" class="btn btn-default nav-ctrl-btn">Back</button>

                </div>

                <input id="test" type="text" name="test" size="25" value="" />

                <button type="submit" class="btn btn-default ctrl-btn-submit" [disabled]="!caseForm.valid">Submit</button>
                <button type="button" (click)="cancel()" class="btn btn-default" >Cancel</button>
                <!-- <button type="submit" class="btn btn-default ctrl-btn-submit" [disabled]="!caseForm.valid" (click)="createNew=true;">Submit and Create New</button> -->

            </form>

        </div>

        <div [hidden]="hideSummary">

            <div class="cbra-form">

                <h2 class="form-group-header">Case Summary</h2>

                <p [hidden]="!fileUploadError"><strong>The request was submitted, but not all the files could be uploaded.</strong></p>
                <p [hidden]="!alreadyExists"><strong>A determination for this property by this requester has already been submitted.</strong></p>
                <p [hidden]="!doesnotExist"><strong>A determination with this Case ID: {{caseID.value}} <br /> does not exist.</strong></p>

                <div [hidden]="doesnotExist">
                    <p *ngIf="requestcase.case_hash"><b>Case ID:</b> {{ requestcase.case_hash }}</p>
                    <p *ngIf="requestcase.request_date"><b>Request Date:</b> {{ requestcase.request_date }}</p>
                    <p *ngIf="requestcase.status"><b>Status:</b> {{ requestcase.status }}</p>
                    <p *ngIf="requestproperty.id"><b>Property:</b> {{ requestproperty.street }}, {{ requestproperty.city }}</p>
                    <p *ngIf="requestrequester.id"><b>Requester:</b> {{ requestrequester.first_name }} {{ requestrequester.last_name }}</p>
                    <p *ngIf="filesToUploadDetails.length > 0"><b>File Upload Results:</b></p>
                    <div [hidden]="!filesUploadNotComplete" align="center"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                    <div [hidden]="filesUploadNotComplete">
                        <ul>
                            <li *ngFor="let fileUploadMessage of fileUploadMessages">{{fileUploadMessage}}</li>
                        </ul>
                    </div>
                </div>

                <button type="button" (click)="showWelcome()" class="btn btn-default nav-ctrl-btn">Home</button>

            </div>

        </div>

    </div>
</div>
